
.containerOne{
  font-family: "Duru Sans", sans-serif;
 
}

.image{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.change{
  background:none;
  border:none;
  color:#685858;
  font-family: "Duru Sans", sans-serif
}
.change:hover{
  color:#C8C0BD;
  text-decoration: underline;
  transition: 200ms ease-in;
}
/* nav{
  display: flex;
  justify-content: center;

  margin: 0;
  background-color: #685858;
  width: 101%;
} */
.link {
 padding: 10px;
  text-decoration: none;
  color: #C8C0BD;
  font-family: "Duru Sans", sans-serif;
  font-size: 20px;
  
  
}
.containerJewelery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #685858;
  font-family: "Duru Sans", sans-serif;
}
.shop{
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}
.imageShop{
  width: 200px;
  height: 300px;
}
.imageShop:hover{
  border:1px solid #685858;
  transform: scale(1.5);  
}

.info{
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.containerButton{
  display:flex;
  flex-direction:column;
  padding: 10px;
}
.buttonLike{
  background: none;
}
.titleShop{
  color: #685858;
  text-align: center;
  font-family: "Duru Sans", sans-serif;
}
.containerAbout{
 margin-inline-start: 100px;
  color:#685858;
  font-family: "Duru Sans", sans-serif;
}
.parAbout{
width: 250px;
padding: 20px;
font-family: "Duru Sans", sans-serif;
text-align: center;
}
.btnPar{
  background: none;
  border: none;
}
body{
  background-color: #eee8e5;
}
h2{
  text-align: center;
  color: #685858;
}
.field{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;

}
.field-info{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
 
}
.button-submit{
  padding: 20px ;
  background-color: #685858 ;
}
.contact-pic{
  position:relative;
  width:100%;
  height: 80vh;
  z-index: -1;

}
.icon-block-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
}
.icon-block{

  align-content: start;
  row-gap: 10px;
}
.icon-container{
  display: flex;
  flex-wrap:wrap ;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;

  /* width: fit-content;
  margin: auto; */
  
      background-image: url('Photo/icon-delevery.png');
      background-repeat: no-repeat;
      background-position: center;   
      background-size: 32px;
}
.icon{
  height: 50px;
  width: 50px;
  display: flex;
}


@media all and (max-width: 800px){
  img{
    width: 800px;
  }
  .container{
    font-size: 20px;
  }
  .link{
    font-size: 20px;
  }
  .imageShop:hover{
    transform: scale(1.5);  
  }
  .parAbout{
    text-align: start;
  }
  .contact-pic{
    position:relative;
    width: 760px;
    height: 60vh;
  }
  .bg-pic{
    background-image:url(contact-pic.jpg);
    width: 100%;
  }
  .image{
    /* width: 390px; */
    height: 70vh;
  
  }



 
}
@media all and (max-width: 500px){
  img{
    width: 390px;
   
  }
  .image{
    width: 390px;
    height: 70vh;
  
  }
  .titleShop{
    font-size: 18px;
    text-align: start;
    margin-left: 10px;
  }

  /* nav{
    display:flex;
    flex-direction: column;
} */
.contact-pic{
  position:relative;
  width: 390px;
  min-height: 500px;
}
 
}
  


