/* body{
  background-image: url(background.jpg);
} */
.containerOne{
  font-family: "Duru Sans", sans-serif;
 
}
.imgage{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.containerShop{
  display: flex;

  flex-wrap: wrap;
  color: #685858;
  font-family: "Duru Sans", sans-serif;
}
.containerButton{
  display:flex;
  flex-direction:column;
}
.change{
  background:none;
  border:none;
  color:#685858;
  font-family: "Duru Sans", sans-serif;
  margin-right:100px;
 
}

@media all and (max-width: 800px){
  img{
    width: 390px;
  }
}
  


